.article-box {
    width: 80%;
    margin-left: 160px;
    margin-top: 50px;
    float: left;
}

.element-title {
    text-align: center;
    font-size: 34px;
    color: #28323C;
    max-width: 800px;
    margin: 0 auto;
}

.element-date {
    font-size: 18px;
    color: #333;
    font-weight: 800;
    text-align: center;
    margin-top: 10px;
}

.element-text {
    width: 800px;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 20px;
    text-align: justify;
    max-width: 800px;
}

.element-img {
    width: 800px;
    margin: 0 auto;
    margin-top: 20px;
}

.element-img img {
    width: 100%;
}

.create-text div {
    margin-top: 15px;
}

.empty-block {
    clear: both;
    height: 50px;
}

.margin-top {
    margin-top: 15px;
}

