* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.admin-title {
    margin: 30px;
    color: #333;
}

.back-to-spe {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    margin-left: 30px;
}

.blackline {
    height: 2px;
    background: #333;
}

.table-wrapper {
    width: 96%;
    margin: 0 auto;
}

.show-articles {
    float: left;
    width: 50%;
}

.articles-table {
    border-collapse: collapse;
    margin-top: 30px;
}
.articles-table td {
    border: 1px solid #333;
    height: 30px;
    text-align: center;
}
.table-no {
    width: 40px;
}

.table-date {
    width: 100px;
}

.table-title {
    width: 300px;
}

.new-article {
    float: left;
    width: 50%;
}

.article-edit,
.article-delete {
    visibility: hidden;
    width: 90px;
    font-size: 18px;
    border: 0;
    cursor: pointer;
}

.article-row:hover .td-hover{
    visibility: visible;
}

.article-delete {
    background: #D91E18;
    cursor: pointer;
    color: #fff;
    font-size: 24px;
}

.article-create-form label,
.article-create-form input,
.article-create-form textarea {
    display: block;
}

.article-create-form label,
.art-title {
    height: 24px;
    line-height: 24px;
    padding: 3px;
    font-size: 18px;
}

.art-text {
    resize: none;
}

.article-create-form p {
    margin-top: 10px;
}

.create-article {
    height: 40px;
    width: 200px;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    cursor: pointer;
}




